@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    margin: 0;
}
.navbar{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    flex: 20%;
    text-align: left;
    font-size: 24px;
    margin-left: 10%;
    color: #B40404;

}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px 16px;
}
.menu a{
    color: #B40404;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
    color: white;
    border-top: 4px solid white;
}
#botao{
    background-color: #B40404;
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
    margin-right: 10px;
    margin: 5%;
}
#botao:hover{
    border: none;
    background-color: white;
    color: #B40404;
}