@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    margin: 0;
}
.navbar{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    
}
.logo{
    flex: 20%;
    text-align: left;
    font-size: 24px;
    margin-left: 10%;
    color: #B40404;
}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px 16px;
}
.menu a{
    color: #B40404;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
    color: white;
    border-top: 4px solid white;
}
#botao{
    background-color: #B40404;
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
    margin-right: 10px;
    margin: 5%;
}
#botao:hover{
    border: none;
    background-color: white;
    color: #B40404;
}
header{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.linha-cabecalho{
    flex: 40%;
    margin-left: 10%;
}
.linha-cabecalho h2{
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: white;
}
.linha-cabecalho p{
    text-align: left;
    color: white;
}
.imgcabecalho{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}
.botaocontato{
    background-color: #B40404;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
.info{
    margin-top: 80px;
    /*border: 1px solid black;*/
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5px;
    display: inline-block;
}
.info h2{
    width: 100%;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #B40404;
}
.culi{
    display: inline-block;
    margin: 5px;
}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 2px solid #B40404;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    background-color: #B40404;
    color: white;
    padding: 4%;
}
.card:hover img{
    display: none;
}
.textooculto{
    display: none;
}
.card:hover .card-text{
    display: none;
}
.card:hover .textooculto{
    display: block;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.footer-contato h2, .footer-hora h2, .footer-midia h2, .footer-mapa h2{
    font-size: 20px;
    color: #B40404;
    margin-bottom: 10px;
}
.footer-contato, .footer-hora, .footer-midia, .footer-mapa{
    font-size: 16px;
}
.footer-botton{
    background-color:black;
    padding: 10px 0;
}